DataModel/TSANETBaseSolution/Workflows/ChildFlow-UploadFile-707272CE-C61A-F011-9989-7CED8D221121.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "95d89656-8c2d-4745-a3f2-8fefd2a3390a"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                },
                "text": {
                  "title": "CaseToken",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "GetToken": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "69df8dfe-588c-40d6-aa62-30b3d2fa9f47"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "5501ead7-1b8a-ef11-8a69-6045bdd3fb39"
            }
          }
        },
        "GetTokenSuccess": {
          "actions": {
            "HTTP_POST_Attachments": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "80654909-5a54-400d-886b-3fe2de53445f"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{body('GetToken')?['uri']}/v1/collaboration-requests/@{triggerBody()['text']}/attachments",
                "headers": {
                  "Authorization": "Bearer @{body('GetToken')?['accesstoken']}"
                },
                "body": {
                  "$content-type": "multipart/form-data",
                  "$multipart": [
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"files\"; filename=\"@{triggerBody()?['file']?['name']}\""
                      },
                      "body": "@binary(triggerBody()?['file']?['contentBytes'])?['$content']"
                    },
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"description\""
                      },
                      "body": ""
                    }
                  ]
                }
              }
            }
          },
          "runAfter": {
            "GetToken": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@body('GetToken')?['result']",
              "Success"
            ]
          },
          "metadata": {
            "operationMetadataId": "831bd0db-5796-4db5-8929-d39e0c48eba1"
          },
          "type": "If"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "GetTokenSuccess": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7613d3b-1d8b-4511-a15b-02659f84d8e9"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Respond_to_a_Power_App_or_flow_2": {
          "runAfter": {
            "GetTokenSuccess": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3c2cf54-8f7e-4d6b-b445-6a521395ab5c"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Error"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}