DataModel/TSANETBaseSolution/Workflows/ChildFlow-RegisterWebhook-E92519E8-3D13-F111-8342-6045BDF0E7D8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ap_sharedcommondataserviceforapps_d0fba"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f2710afc-81c5-4386-865a-121a00e24f83"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "EndpointURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Scope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a5b21c27-ecb1-4925-a19f-67d7f027fa98"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Scope": {
          "actions": {
            "Get_Token": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0f487098-2606-4461-85b1-3f210e5695a6"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "5501ead7-1b8a-ef11-8a69-6045bdd3fb39"
                }
              }
            },
            "GetTokenSuccess": {
              "actions": {
                "HTTP_Register_Webhook": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "80654909-5a54-400d-886b-3fe2de53445f"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{body('Get_Token')?['uri']}/v1/webhooks",
                    "headers": {
                      "Authorization": "Bearer @{body('Get_Token')?['accesstoken']}"
                    },
                    "body": {
                      "callbackUrl": "@{triggerBody()['text']}",
                      "eventTypes": [
                        "collaboration-request.created",
                        "note.created"
                      ]
                    }
                  }
                },
                "Secret": {
                  "runAfter": {
                    "HTTP_Register_Webhook": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f001aac6-0453-4cf2-b1ee-13a6075bcd4f"
                  },
                  "type": "Compose",
                  "inputs": "@body('HTTP_Register_Webhook')?['secret']"
                },
                "List_rows_TSANET_Setting": {
                  "runAfter": {
                    "Secret": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "be07feb4-8f26-4bc6-9d7f-d6b6fda59d13"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ap_tsanetsettings",
                      "$select": "ap_tsanetsettingid",
                      "$filter": "ap_name eq 'settings'",
                      "$top": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Update_TSANET_Setting": {
                  "runAfter": {
                    "List_rows_TSANET_Setting": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "605dd60b-d0cf-4482-b66f-b865c1dd244b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ap_tsanetsettings",
                      "recordId": "@first(outputs('List_rows_TSANET_Setting')?['body/value'])?['ap_tsanetsettingid']",
                      "item/ap_webhooksecret": "@outputs('Secret')"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Token": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@body('Get_Token')?['result']",
                  "Success"
                ]
              },
              "metadata": {
                "operationMetadataId": "41111d7e-093c-4a42-a2dc-a60d443b2985"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "261741f1-9eba-4605-8ea7-97cee6dae74c"
          },
          "type": "Scope"
        },
        "Respond_to_a_Power_App_or_flow_2": {
          "runAfter": {
            "Scope": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "6bb4e0f7-4600-4a5d-a5ec-a747873e68bf"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Error"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}