DataModel/TSANETBaseSolution/Workflows/ChildFlow-GetMe-82D2EFF9-8CDC-EF11-A72F-00224826BD7D.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "a7630de0-a9d2-441f-afe8-2a86179e05bf"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Token",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "URI",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "HTTP_GET_Me": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "83ab2e5d-9991-49a6-bacb-7b6ca1a65e71"
          },
          "type": "Http",
          "inputs": {
            "uri": "@{triggerBody()['text_1']}/v1/me",
            "method": "GET",
            "headers": {
              "Authorization": "Bearer @{triggerBody()['text']}"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "HTTP_GET_Me": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c6abca12-7fbb-4623-8f9f-a85030e5c58a"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "companyid": {
                  "title": "CompanyId",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "result": "Success",
              "companyid": "@body('HTTP_GET_Me')?['company']?['id']"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow_2": {
          "runAfter": {
            "HTTP_GET_Me": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "5232a2da-3275-4bb7-9977-f359cd80713d"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "companyid": {
                  "title": "CompanyId",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "result": "Error",
              "companyid": "0000000"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}